.carousel.slide img {
    width: 100%;
}
.title_allsp{
    padding: 8px 0;
}
.all_product p{
    margin: 5px;
}
.all_product{
    margin: 20px 0;
    grid-column-gap: 47px;
    grid-row-gap: 15px;
    position: relative;
    width: 100%;
}
.all_product a{
    text-decoration: none;
}
img.giamgia_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.giamgia {
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    background-color: rgb(255,60,32);
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    z-index: 20;
    padding: 3px 4px;
}
.giamgia::after{
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -7px;
    border-style: solid;
    position: absolute;
    border-width: 0 22.1px 7px;
    border-color: transparent rgb(255,60,32);
}
.box_sp{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    background: #fff;
    float: left;
    box-shadow: none;
    position: relative;
    border: 1px solid #ececec;
    border-radius: 5px;
}
.box_sp:hover{
    border-color: #ff3c20;
    cursor: pointer;
    transform: translateY(-10px);
    transition: .3s linear all;
    
}
.box_sp a img{
    width: 100%;
    height: 200px;
}
.content_sp{
    padding: 0 10px;
    overflow: hidden;
    clear: both;
}
.title_sp{
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 16px;
}
.price_sp{
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
    color: #ff3c20;
}
.price_sp_old{
    line-height: 20px;
    padding: 0;
    display: block;
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
.sort_price {
    width: 100%;
    text-align: right;
    margin: 6px 0;
}
.sort_price select{
    border-radius: 4px;
    padding: 5px;
    border-width: 0.1px;
    border-color: #dadada;
    cursor: pointer;
    outline: none;
}
/* hien thi sp */
::-webkit-scrollbar {
width: 2px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
background: #888;
}
.hienthi {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
}
.hienthi_item {
    display: flex;
    max-width: 284px;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
}
.hienthi_item p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 13.5px;
    margin: 0;
    color: #333;
}
.hienthi_content span {
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
    color: #ff3c20;
}
.hienthi_content {
    margin-left: 9px;
}